In [2]:
import pandas as pd
import numpy as np

## Reading in the data files

In [3]:
cohort_data_file = "../data/d2_mechvent_cohort08Oct19.csv"

In [5]:
d2_cohort = pd.read_csv(cohort_data_file)
d2_cohort.shape

(20124, 47)

In [6]:
notes_file = "../data/NOTEEVENTS.csv"
notes_df = pd.read_csv(notes_file)

/home/mcb/li_lab/pnair6/venv/mcb36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
print(notes_df.shape)
notes_df.head()

(2083180, 11)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [14]:
d2_cohort.head()

,ICUSTAY_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ETHNICITY,HOSPITAL_EXPIRE_FLAG,GENDER,DOD,...,LOS_ICU,ICUSTAY_SEQ,FIRST_ICU_STAY,VENTNUM,STARTTIME,ENDTIME,DURATION_HOURS,DAYS_UNTIL_DEATH,FIRST_VENT_STARTTIME,COHORT
0,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,6.0646,1,t,1,2101-10-20 20:00:00,2101-10-24 07:44:00,83.733333,236.202778,2101-10-20 20:00:00,d2
1,220597,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,EMERGENCY,UNKNOWN/NOT SPECIFIED,1,M,2149-11-14,...,5.3231,1,t,1,2149-11-09 13:40:00,2149-11-14 12:00:00,118.333333,4.454167,2149-11-09 13:40:00,d2
2,232669,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,ELECTIVE,WHITE,1,M,2104-08-20,...,7.6348,1,t,1,2104-08-08 04:20:00,2104-08-11 15:00:00,82.666667,12.572917,2104-08-08 04:20:00,d2
3,254478,31,128652,2108-08-22 23:27:00,2108-08-30 15:00:00,EMERGENCY,WHITE,1,M,2108-08-30,...,7.9379,1,t,1,2108-08-23 15:00:00,2108-08-30 13:00:00,166.000000,7.022917,2108-08-23 15:00:00,d2
4,282039,35,166707,2122-02-10 11:15:00,2122-02-20 15:30:00,ELECTIVE,WHITE,0,F,NaN,...,5.3757,1,t,1,2122-02-10 13:00:00,2122-02-10 20:40:00,7.666667,NaN,2122-02-10 13:00:00,d2

In [20]:
notes_with_charttime = notes_df.dropna(subset=['CHARTTIME'])

In [21]:
merged = pd.merge(d2_cohort, notes_df, on = ['SUBJECT_ID','HADM_ID'], how='left')
print(merged.shape)
merged.head()

(2293970, 56)

,ICUSTAY_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ETHNICITY,HOSPITAL_EXPIRE_FLAG,GENDER,DOD,...,COHORT,ROW_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,44005.0,2101-10-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-10-20**] Discharg...
1,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,94503.0,2101-10-21,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: S/P Car...
2,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,94504.0,2101-10-21,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Pericar...
3,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,94502.0,2101-10-21,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Left ve...
4,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,272785.0,2101-10-27,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm\nP-R interval increased\nLate R w...

In [22]:
new_merged = merged.dropna(subset=["CHARTTIME"])
print(new_merged.shape)
new_merged.head()

(2149585, 56)

,ICUSTAY_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ETHNICITY,HOSPITAL_EXPIRE_FLAG,GENDER,DOD,...,COHORT,ROW_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
13,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,769389.0,2101-10-27,2101-10-27 23:41:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-27**] 11:41 PM\n CHEST (PORTABLE AP...
14,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,769224.0,2101-10-26,2101-10-26 06:01:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-26**] 6:01 AM\n CHEST (PORTABLE AP)...
15,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,769043.0,2101-10-24,2101-10-24 08:05:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-24**] 8:05 AM\n CHEST (PORTABLE AP)...
16,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,769130.0,2101-10-25,2101-10-25 06:32:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-25**] 6:32 AM\n CHEST (PORTABLE AP)...
17,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,d2,769079.0,2101-10-24,2101-10-24 16:06:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-24**] 4:06 PM\n CHEST (PORTABLE AP)...

## Finding the time difference between ventilation start time and notes chart time. 
## This will help filter out the notes which were charted within 48 hours of admission to ventilator

In [25]:
time_diff = abs(pd.to_timedelta(pd.to_datetime(new_merged.FIRST_VENT_STARTTIME) - pd.to_datetime(new_merged.CHARTTIME)))
new_merged["TIME_DIFF"] = time_diff.astype('timedelta64[h]')

/home/mcb/li_lab/pnair6/venv/mcb36/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
new_merged.head()

,ICUSTAY_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ETHNICITY,HOSPITAL_EXPIRE_FLAG,GENDER,DOD,...,ROW_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,TIME_DIFF
13,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,769389.0,2101-10-27,2101-10-27 23:41:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-27**] 11:41 PM\n CHEST (PORTABLE AP...,171.0
14,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,769224.0,2101-10-26,2101-10-26 06:01:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-26**] 6:01 AM\n CHEST (PORTABLE AP)...,130.0
15,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,769043.0,2101-10-24,2101-10-24 08:05:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-24**] 8:05 AM\n CHEST (PORTABLE AP)...,84.0
16,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,769130.0,2101-10-25,2101-10-25 06:32:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-25**] 6:32 AM\n CHEST (PORTABLE AP)...,106.0
17,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,769079.0,2101-10-24,2101-10-24 16:06:00,NaN,Radiology,CHEST (PORTABLE AP),NaN,NaN,[**2101-10-24**] 4:06 PM\n CHEST (PORTABLE AP)...,92.0

In [27]:
trimmed_cohort = new_merged[new_merged.TIME_DIFF <= 48]
trimmed_cohort.shape

(321108, 57)

## Removing notes other than nurses and physicians

In [34]:
cohort = trimmed_cohort[trimmed_cohort.CATEGORY.isin(["Nursing","Physician ","Discharge summary", "Nursing/other"])]

In [35]:
cohort.head()

,ICUSTAY_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,ADMISSION_TYPE,ETHNICITY,HOSPITAL_EXPIRE_FLAG,GENDER,DOD,...,ROW_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,TIME_DIFF
27,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,1260684.0,2101-10-21,2101-10-21 06:58:00,2101-10-21 07:15:00,Nursing/other,Report,21570.0,NaN,Micu Progress Nursing Note:\n\nPatient arrived...,10.0
28,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,1260691.0,2101-10-22,2101-10-22 18:18:00,2101-10-22 18:23:00,Nursing/other,Report,21570.0,NaN,Respiratory Care Note:\n Patient remains in...,46.0
30,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,1260689.0,2101-10-22,2101-10-22 05:59:00,2101-10-22 06:19:00,Nursing/other,Report,21570.0,NaN,Micu Nursing Progress Note:\n\nNeuro: Remains ...,33.0
31,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,1260690.0,2101-10-22,2101-10-22 17:53:00,2101-10-22 18:25:00,Nursing/other,Report,21570.0,NaN,"npn 7-7p\n\nneuro: Pt is alert, opens eyes to ...",45.0
39,211552,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,WHITE,0,M,2102-06-14,...,1260685.0,2101-10-21,2101-10-21 14:27:00,2101-10-21 14:45:00,Nursing/other,Report,19942.0,NaN,MICU NSG PROG NOTE: days\nRemains stable on hi...,18.0

In [42]:
print("No. of records/unique HADM IDs is " + str(len(cohort.HADM_ID.unique())))

No. of records/unique HADM IDs is 7289

In [43]:
cohort_new = cohort[['SUBJECT_ID','HADM_ID','STARTTIME','ENDTIME','DURATION_HOURS', 'DAYS_UNTIL_DEATH','FIRST_VENT_STARTTIME','TEXT','TIME_DIFF']]

In [44]:
cohort_new.head()

,SUBJECT_ID,HADM_ID,STARTTIME,ENDTIME,DURATION_HOURS,DAYS_UNTIL_DEATH,FIRST_VENT_STARTTIME,TEXT,TIME_DIFF
27,3,145834,2101-10-20 20:00:00,2101-10-24 07:44:00,83.733333,236.202778,2101-10-20 20:00:00,Micu Progress Nursing Note:\n\nPatient arrived...,10.0
28,3,145834,2101-10-20 20:00:00,2101-10-24 07:44:00,83.733333,236.202778,2101-10-20 20:00:00,Respiratory Care Note:\n Patient remains in...,46.0
30,3,145834,2101-10-20 20:00:00,2101-10-24 07:44:00,83.733333,236.202778,2101-10-20 20:00:00,Micu Nursing Progress Note:\n\nNeuro: Remains ...,33.0
31,3,145834,2101-10-20 20:00:00,2101-10-24 07:44:00,83.733333,236.202778,2101-10-20 20:00:00,"npn 7-7p\n\nneuro: Pt is alert, opens eyes to ...",45.0
39,3,145834,2101-10-20 20:00:00,2101-10-24 07:44:00,83.733333,236.202778,2101-10-20 20:00:00,MICU NSG PROG NOTE: days\nRemains stable on hi...,18.0

In [45]:
print("Shape of final cohort table is " + str(cohort_new.shape))

Shape of final cohort table is (191712, 9)

## Writing to disk

## specify path to write file

In [46]:
write_path = "../data/d2_48hrs_phy_nurse_notes.csv"
cohort_new.to_csv(write_path, index=False)